
/* .body{
    background-image: url(https://i.pinimg.com/originals/e2/97/8c/e2978ca3d3a608d8f3e3dac5c083f3cb.jpg);
    background-size: cover;
    background-attachment: fixed;
    }  
    .content {
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    
    }   */
     
    .instructions{
         font-size: large;
         font-weight: bold;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }

