/* .body{
    background-image: url(https://i.pinimg.com/originals/e2/97/8c/e2978ca3d3a608d8f3e3dac5c083f3cb.jpg);
    background-size: cover;
    background-attachment: fixed;
    }  
    .content {
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    
    }   */
/* #start-adventure {
      width: 200px;
      height: 190px;
      position: absolute;
      background: url(/media/images/transparent_button_normal.png.pagespeed.ce._PQuVSQuHh.png) no-repeat;
  } */

.instructions {
  font-size: large;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* card flip animation section */
.card-flip > div {
  background-color: transparent;
  width: 240px;
  height: 240px;
  perspective: 1000px;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#card-front-4,
#card-front-3,
#card-front-2,
#card-front-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#card-back-4,
#card-back-3,
#card-back-2,
#card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-flip:hover .inner {
  transform: rotateY(-180deg);
}
.card-flip:hover #card-front-2 {
  transform: rotateY(-180deg);
}
.card-flip:hover #card-front-3 {
  transform: rotateY(-180deg);
}
/* .card-flip:hover #card-front-4 {
  transform: rotateY(-180deg);
} */

.back {
  transform: rotateY(180deg);
}
